PANEL_NAME="BlogDemo"
LOGS_FOLDER_PATH="logs"
DEVELOPER_ENV="1"
PHP_DIR_OWNER=1000
RUN_USER=1000

MYSQL_ROOT_PASSWORD=main
MYSQL_DATABASE=main_db
MYSQL_USER=main
MYSQL_PASSWORD=main
MYSQL_PORT=3306

NGINX_PORT=80
